<footer class="f-font">
 <div class="f-socials">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
 </div>
 <div class="f-cname">&copy;Wanderlust private limited</div>
 <div class="f-links">
    <a href="/private">Private</a>
    <a href="/terms">Terms</a>
 </div>
</footer>